.container{
    border: 1px solid black;
    height: fit-content;
    display: flex;
    justify-content: center;
    
}

.containerComents {
    margin-top: 20px;
    border: 1px solid red;
    width: 40%;
    height: fit-content;

}

.comentarios {
    border:  1px solid blue;
    margin: 4px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: bisque;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.nameAndProfile {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 15px;
    
}