.container{
    width: 500px;
    height: max-content;
    background-color: #D8C3A5;
    box-shadow: 50px 50px 100px rgba(0,0,0,0.5);
    background: linear-gradient(45deg, #FFC371, #ff5f6c88);
    margin:auto;
    display:block;
}

.buttonBack{
    float: left;
    margin: 3%;
    width: 5%;
}

.pictures{
    width: 300px;
}