.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 70vh;
    width: 83vw;
    -webkit-box-shadow: 2px 4px 10px 1px black;
    box-shadow: 2px 4px 10px 1px grey;
    padding: 20px;
    margin: 10px;

}

.centered-div {
    background-color: #a41d1d; /* Agrega un color de fondo para visualizar el div */
    padding: 1rem;
    text-align: center;
}

.title {
    color: gray;
    font-weight: bold;
    font-size: 20px;
}
.link{
    font-size: 12px;
    border-bottom: 1px solid gray;
    width: max-content;
    cursor: pointer;
}