.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.centered-div {
    background-color: #f0f0f0; /* Agrega un color de fondo para visualizar el div */
    padding: 1rem;
    text-align: center;
}