.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 40vw;
    -webkit-box-shadow: 2px 4px 10px 1px black;
    box-shadow: 2px 4px 10px 1px grey;
    padding: 20px;
    margin: 10px;

}

.centered-div {
    background-color:black;
    /* Agrega un color de fondo para visualizar el div */
    padding: 1rem;
}

.title {
    color: gray;
    font-weight: bold;
    font-size: 20px;
}

.text {
    font-size: 16px;
    font-weight: 800;
    color: gray;
    text-align: start;
}