@font-face {
    font-family: "ArimaMadurai";
    src: url("../../Formatting/ArimaMadurai-ExtraBold.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../../Formatting/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "ArimaMadurai-Medium";
    src: url("../../Formatting/ArimaMadurai-Medium.ttf");
}


.PieDePag {
    display: flex;
    background-color: #D7CBB9;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 250px;
}

.logoChoco {
    width: 70%;
}

.copyright {
    display: block;

}

.copyrightText {
    font-family: "ArimaMadurai-Medium";
    font-weight: lighter;
    margin-left: 20px;
    bottom: 0;
}

.contacts {
    font-family: "ArimaMadurai-Medium";
    font-weight: lighter;
    font-size: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.lineContact{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.lineContact a{
    text-decoration: none;
    color: inherit;
}

.logosImg {
    width: 10%;
}