@font-face
{
    font-family: "ArimaMadurai";
    src: url("../../Formatting/ArimaMadurai-ExtraBold.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../../Formatting/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "ArimaMadurai-Medium";
    src: url("../../Formatting/ArimaMadurai-Medium.ttf");
}


.PieDePag {

    display: flex;
    background-color: #D7CBB9;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 250px;

}

.copyright {
    display: block;

}
.copyrightText{
    font-family: "ArimaMadurai-Medium";
    font-weight: lighter;
    position: absolute;
    margin-left: 20px;
    bottom: 0;
}

.logoText {
    font-family: "ArimaMadurai";
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.sublogoText {
    font-family: "Source Sans Pro";
    font-size: 16.3px;
    font-weight: lighter;
    letter-spacing: 2mm;
    margin-block-start: 0%;
    margin-block-end: 0%;
}


.contacts {
    font-family: "ArimaMadurai-Medium";
    font-weight: lighter;

}

.lineContact{
    width: auto;
    display: flex;
    margin-block-start: 30px;
}

.logosImg {
    float: left;
    margin-right: 5px;
    width: 4.5%;
}

.logoChoco {
    width: 15%;
}


