.container{
    padding-top: 150px;
}
.carousel{
    /* width: 100%; */
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.nuevaColeccion {
    font-family: 'ArimaMadurai';
    font-size: 40px;
    letter-spacing: 5px;
    margin: 30px 0 0px 0;
}