
.container{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px;
}

.cell{
    width: 100px;
    height: 70px;
    margin-right: 10px;
    flex-basis: 150px;

}
.image{
   width: 100px;
   height: 70px;
   overflow: hidden;
}

.searchBar{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content:center;
height: fit-content;
}

.title{
    padding-right: 5px;
}

.img{
    width: 2%;
    padding-right: 6px;
}