<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chocolate</title>
    </head>
    <body>
        <h3>Hola {{name}}!</h3>
        <p>Recibimos una solicitud para restablecer la contraseña de tu cuenta.</p>
        <p>Por favor, verifica tu dirección de correo electrónico haciendo clic en el siguiente enlace:</p>
        <p><a href="{{verificationLink}}">Verification link</a></p>
        <h4>Saludos, Don C. Hub</h4>
    </body>
</html>