.dataTable {

    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;

}

.cellTitle {
    font-weight: bold;
}

.header {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
}

.pages {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}